<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">A unique product of<a href="https://www.belongcare.com/" target="_blank">Belongcare Meditech Pvt. Ltd. © 2017 </a>. All rights reserved.</span>
              <button type="button" class="btn social-btn btn-facebook btn-rounded"><i class="mdi mdi-facebook"></i></button>
          <button type="button" class="btn social-btn btn-twitter btn-rounded"><i class="mdi mdi-twitter"></i></button>
          <button type="button" class="btn social-btn btn-dribbble btn-rounded"><i class="mdi mdi-dribbble"></i></button>
          <button type="button" class="btn social-btn btn-linkedin btn-rounded"><i class="mdi mdi-linkedin"></i></button>
          <button type="button" class="btn social-btn btn-google btn-rounded"><i class="mdi mdi-google-plus"></i></button>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Made in India with  <i class="mdi mdi-heart text-danger"></i></span>
  </div>
</footer>