<app-navbar></app-navbar>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
       <div class="card-body">
          <h4 class="card-title">Bookings</h4>
          <div class="table-responsive">
             <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                   <tr>
                      <th> Name </th>
                      <th> Mobile </th>
                      <th> Address </th>
                      <th> Package Name </th>
                      <th> Package Price </th>
                      <th> Date Purchased </th>
                   </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let userBooking of userBookings.data">
                     <td>  {{userBooking.patients[0].name}} </td>
                     <td>  {{userBooking.patients[0].mobile}} </td>
                     <td>  {{userBooking.patients[0].address}} </td>
                     <td>  {{userBooking.packageId.packageName}} </td>
                     <td>  ₹{{userBooking.packageId.price}} </td>
                     <td>  {{userBooking.createdOn}} </td>
                  </tr>
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </div>

 