<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/profile.jpg" alt="profile image">
          </div>
        </div>
        <a routerLink="/package" routerLinkActive="active">
        <button class="btn btn-success btn-block">Book Package<i class="mdi mdi-plus"></i>
        </button>
        </a>
      </div>
    </li>


    <li class="nav-item">
      <a class="nav-link" routerLink="/package" routerLinkActive="active">
        <i class="menu-icon mdi mdi-trackpad"></i>
        <span class="menu-title">Popular Packages</span>
      </a>
    </li>

        

  </ul>
</nav>
